@import '~@politico/interactive-style/theme.scss';

p, h3 {
  padding-right: 10px;
  padding-left: 10px;
}

div.share {
  a {
    color: white !important;
  }
}
p.category {
  margin-bottom: 0;
  a {
    color: $politico-red;
  }
}

p.dek {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.2;
}

.info p {
  font-family: $din;
  a {
    color: $satan;
  }
}



p.dek {
  font-family: $din;
}


img.topper {
  width: 200px;
  margin: 0 auto 10px;
  display: block;
}

div.methodology {
  margin-top: 100px;
  p {
    font-family: $din;
    font-size: 1rem;
  }
}
