$choice1: #75CCCA;
$choice2: #F78F1C;
$choice3: #C1B79C;
$choice4: #F6432D;

@mixin background-color {
  &.choice-0 {
    background-color: $choice1;
  }
  &.choice-1 {
    background-color: $choice2;
  }
  &.choice-2 {
    background-color: $choice3;
  }
  &.choice-3  {
    background-color: $choice4;
  }
}

@mixin color {
  &.stat-0 {
    color: $choice1;
  }
  &.stat-1 {
    color: $choice2;
  }
  &.stat-2 {
    color: $choice3;
  }
  &.stat-3  {
    color: $choice4;
  }
}
