$choice1: #408269;
$choice2: #EE222E;
$choice3: #F1A78B;
$choice4: #BA6B63;

@mixin background-color {
  &.choice-0 {
    background-color: $choice1;
  }
  &.choice-1 {
    background-color: $choice2;
  }
  &.choice-2 {
    background-color: $choice3;
  }
  &.choice-3  {
    background-color: $choice4;
  }
}

@mixin color {
  &.stat-0 {
    color: $choice1;
  }
  &.stat-1 {
    color: $choice2;
  }
  &.stat-2 {
    color: $choice3;
  }
  &.stat-3  {
    color: $choice4;
  }
}
