@import "~@politico/interactive-style/vars.scss";

.component :global {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 1000px){
    width: 100%;
  }
  #chart {
    width: 100%;
  }
  div.container {
    width: 790px;
    padding: 20px;
    margin-bottom: 20px;
    //background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 790px){
      width: 100%;
    }
    h3.hed {
      text-align: center;
      width: 100%;
      margin-bottom: 5px;
    }
    h4.dek {
      text-align: center;
      width: 100%;
      font-weight: 300;
      font-size: .8
    }
    svg {
      margin-top: 15px;
    }
  }

  .tooltip {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    transition: all .2s;
    opacity: 0;
    z-index: 1000;
    background: white;
    border-radius: 2px;
    box-shadow: 4px 4px 7px -2px rgba(0,0,0,.3);
    padding: 8px 13px;
    min-width: 150px;
    border-left: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    text-align: left !important;
    p {
      font-family: $din;
      margin-bottom: 0;
      line-height: 1.3;
      padding-left: 0 !important;
      @media screen and (max-width: 800px){
        margin-top: 0 !important;
      }
      &.county {
        font-weight: bold;
      }
      &.winner {
        font-size: .9rem;
        &.name {
          font-size: 1rem;
        }
      }
    }
  }
}
